module.exports = {
    'from': '',
    'gas': 0,
    'gasPriceWei': 0,
    'gasPriceGWei': 0,
    'token': '',
    'holders': [''],
    'amounts': [],
    'expireLockTimestamps': [],
    'infura_apikey': '',
    'hd_wallet_mnemonic': ''
}